* {
    box-sizing: border-box;
  }
  
  body {
      margin:0%;
        padding:0%;
      
    }
  
  
    a:link {
      text-decoration: none;
    }
  
    #time-span{
      font-family: 'Courier New', Courier, monospace;
      color: antiquewhite;
      float: left;
      padding-left: 25px;
  
    }
    
  
    .icon-bar {
      width: 100%; /* Full-width */
      height: 2%;
      background-color: #333333; /* Dark-grey background */
      overflow: auto; /* Overflow due to float */
      display: flex;
      align-items: center;
    /* justify-content: start */
    }
  
  
  
    .image {
      padding-left: 10px;
      width: 1.5%;
      float: left;
    }
  
    .image img{
      max-width: 100%;
      max-height: 100%;
      display: block; /* remove extra space below image */
      border-radius: 8px;
      filter: grayscale(100%);
    }  
  
    .text {
      width: 80% ;
      font-size: 14px;
      padding-left: 20px;
      float: left;
      font-family: 'Courier New', Courier, monospace;
      color: antiquewhite;
    }
  
    .social {
      padding-left: 10px;
      width: 20%;
      float: right;
      display: block;
    }
  
    i{
      float: left;
      padding-left: 20px;
      
    }
  
  
  
  
    .header p{
      color: rgba(255, 255, 255, 0.85);
      font-family: "Trirong", serif;
      text-align: center;
      text-transform: uppercase;
      padding: 0 23%;
    }
  
    .header a{
      color: rgba(255, 255, 255, 0.85);
      font-family: "Trirong", serif;
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
      text-decoration: underline;
  
    }
    .header h1{
      text-align: center;
      padding-top: 20px;
      color: rgba(255, 255, 255, 0.85);
      font-family: "Trirong", serif;
      font-size: 50px;
      text-transform: uppercase;
  
    }
 
    .bottom{
        z-index: -5;
    }

    .image-container{position: relative;
        background-image: url('./images/1.jpg');
        background-size: cover;
  
        height: 100vh;}

    .image1{
        z-index: 9;
        text-align: center;
        left: 1300px;
        top: 300px;
        width: 20%;
        position: absolute;
    }

    .image2{
        z-index: 9;
        text-align: center;
        left: 600px;
        top: 500px;
        width: 20%;
        position: absolute;
    }

    .image3{
        z-index: 9;
        text-align: center;
        left: 700px;
        top: 50px;
        width: 30%;
        position: absolute;
    }

    .image4{
        z-index: 9;
        text-align: center;
        left: 1200px;
        top: 600px;
        width: 20%;
        position: absolute;
    }

    .image5{
        z-index: 9;
        text-align: center;
        left: 300px;
        top: 300px;
        width: 15%;
        position: absolute;
    }